{% extends "base.html" %}
{% load static %}

{% block content %}
<div style="margin-top:50px;" class='container'>
    <div class='aboutus'>
        <h1>О нас</h1><hr color='white'>
        <div class='container'>
            <p style='font-size:20px;'><b>SKIDO.KG</b> – модной платформа распродаж. Наша гордость – качественные бренды без переплат. Здесь огромный выбор одежды и аксессуаров для взрослых и детей всегда со скидками до 90%. Но СКОРО вы найдете в SKIDO.KG и косметику, и симпатичные вещи для дома.</p>
            <br><p style='font-size:20px;'><b>Скидики на SKIDO.KG</b> – они постоянные. 30-90% процентов от полной цены – как на модели прошлых сезонов, так и на отдельные текущие коллекции. Наши партнеры круглый год предоставляет модные тенденции и делают все, чтобы предоставить лучшее на самых выгодных условиях.</p>
            <br><br><br>
        </div>
    </div>
</div>
{% endblock content %}