{% extends "base.html" %}
{% load static %}

{% block content %}
<div style='margin-top:30px;' class='container'>
    <div class='dostavka'>
        <h1>Быстро доставим любой Ваш заказ</h1>
        <h1>по всей Киргизии*</h1>
        <br>
        <br>
        <br>
        <div class='row'>  
            
            <div class="col-sm">
            <center><i class="fas fa-shipping-fast fa-3x"></i>
            <br><br>
                Бесплатная доставка<br>
                при заказе от 2000 сомов!</center>
            </div>

            <div class="col-sm">
            <center><i class="fas fa-wallet fa-3x"></i>
            <br><br>
                Оплата наличными при <br>
                доставке заказа</center>
            </div>
            
            <div class="col-sm">
            <center><i class="fas fa-people-carry fa-3x"></i>
            <br><br>
                Возврат товара <br>
                при примерке</center>
            </div>
        </div>
        <br><br>

        <div class='container'>
            <h4>Сроки доставки</h4>
            <p style='font-size:20px;'>Доставка осуществляется в рабочее время с 09:00 до 17:00. Доставка выполняется на следующий рабочий день при наличии свободного лимита на доставку и размещении заказа до 16:30. При отсутствии свободного лимита и размещении заказа после 16:30 доставка выполняется через один день.</p>
            <br>
            <h4>Доставка в субботу</h4>
            <p style='font-size:20px;'>Доставка осуществляется в пределах города. При оформлении заказа в любой рабочий день (до 16:00 пятницы) и указании субботы в качестве дня доставки.</p>
            <br>
            <h4>Примечания</h4>
            <p style='font-size:20px;'>- Доставка заказов, оформленных в выходные и праздничные дни, осуществляется через один рабочий день.</p>
            <p style='font-size:20px;'>- Внимание! При безналичной оплате доставка происходит в течение 1-2 рабочих дней после поступления денег, если иное не обусловлено договором.</p>
        </div>

        <br><br><br><br>
        <div class='cities'>
            <h3>*Городы, где мы можем доставить ваш заказ:</h3>
            <br>
            <h4 style="margin-left:40px;">Баткенская область:</h4>
            <h5 style="margin-left:80px;">- Баткен</h5>
            <h5 style="margin-left:80px;">- Кызык Кыя</h5>
            <br>
            <h4 style="margin-left:40px;">Джалал-Абадская область:</h4>
            <h5 style="margin-left:80px;">- Жалал-Абад</h5>
            <h5 style="margin-left:80px;">- Базар Коргон</h5>
            <h5 style="margin-left:80px;">- Ноокен</h5>
            <h5 style="margin-left:80px;">- Кочкор-Ата</h5>
            <h5 style="margin-left:80px;">- Токтогул</h5>
            <h5 style="margin-left:80px;">- Кара-Куль</h5>
            <br>
            <h4 style="margin-left:40px;">Нарынская область:</h4>
            <h5 style="margin-left:80px;">- Нарын</h5>
            <h5 style="margin-left:80px;">- Кочкор</h5>
            <br>
            <h4 style="margin-left:40px;">Иссык-Кульская область:</h4>
            <h5 style="margin-left:80px;">- Каракол</h5>
            <h5 style="margin-left:80px;">- Чолпон-Ата</h5>
            <h5 style="margin-left:80px;">- Балыкчы</h5>
            <h5 style="margin-left:80px;">- Кочкор-Ата</h5>
            <br>
            <h4 style="margin-left:40px;">Ошская область:</h4>
            <h5 style="margin-left:80px;">- Ош</h5>
            <h5 style="margin-left:80px;">- Озгон</h5>
            <h5 style="margin-left:80px;">- Кара Суу</h5>
            <br>
            <h4 style="margin-left:40px;">Таласская область:</h4>
            <h5 style="margin-left:80px;">- Талас</h5>
            <br>
            <h4 style="margin-left:40px;">Чуйская область:</h4>
            <h5 style="margin-left:80px;">- Бишкек</h5>
            <h5 style="margin-left:80px;">- Александровка</h5>
            <h5 style="margin-left:80px;">- Беловодский</h5>
            <h5 style="margin-left:80px;">- Сокулук</h5>
            <h5 style="margin-left:80px;">- Токмок</h5>
            <h5 style="margin-left:80px;">- Кант</h5>
            <h5 style="margin-left:80px;">- Кара-Балта</h5>
            <br>
            
            



        </div>
    </div>
</div>
{% endblock content %}