{% extends "base.html" %}
{% load static %}

{% block content %}
<div style="margin-top:50px;" class='container'>
    <div class='paymentinfo'>
        <h1>Оплата</h1><hr color='white'>

        <br>
        <div class='container'>  
            <h4 style='font-size:24px;'>Как оплатить заказ</h4><br>
            <p style='font-size:20px;'><b>Наличный расчет</b> — оплата наличными курьеру при доставке.</p>
            <p style='font-size:20px;'><b>Онлайн-оплата через Элсом</b>  для оплаты через приложение выберите раздел «Перевести», далее «На другой кошелек Элсом» и введите номер нашего кошелька — 15553. Для оплаты через платежный терминал в качестве получателя введите номер — 0990540061.</p>
            <p style='font-size:20px;'><b>Безналичный расчет на счет в Оптима Банк</b> — оплата перечислением на наш расчетный счет:</p>
            <p style='font-size:20px;'>
                ОсОО «Скидо»<br>
                ИНН: 1111111111<br>
                ОКПО: 11111111<br>
                Рег. № МинЮст: 111.111.111<br>
                Рег. № соц.фонда: 1111111<br>
                УГНС по городу Ош: 001<br>
                Банк: Оптима Банк<br>
                БИК: 118013<br>
                Р/С (сом): 1111111111<br>
            </p>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock content %}