{% extends "base.html" %}

{% block content %}
{% load static %}

<style>
html body section.section-content.padding-y.bg div.container div.row aside.col-lg-8 div.card{
	overflow: scroll;
}
html body section.section-content.padding-y.bg div.container div.row aside.col-lg-8 div.card div.card-body table.table.table-borderless.table-shopping-cart tbody tr td figure.itemside.align-items-center div.aside img.img-sm{
	object-fit: contain;
}


@media (min-width: 1496px){
	html body section.section-content.padding-y.bg div.container div.row aside.col-lg-8 div.card{
		overflow: hidden;
	}
}
</style>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<h4 class='text-center mb-10'>Оформление заказа</h4>
<div class="row">

	<aside class="col-md-8">
        <div class="card">
        	<h5 class="card-header">Платежный адрес</h5>
        <div class="card-body">
            <p class="card-text mb-0"><b>Получатель:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    {{ order.full_name }}</p>
			<p class="card-text mb-0"><b>Улица:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ order.full_address }}</p>
			<p class="card-text mb-0"><b>Телефон номер:</b> &nbsp;&nbsp;&nbsp;&nbsp;{{ order.phone_number }}</p>
			<p class="card-text mb-0"><b>Город:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ order.city }}</p>
			<p class="card-text mb-0"><b>Область:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ order.state }}</p>
			{% if order.order_note %}
			<b>Примечание к заказу:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{order.order_note}}
			{% endif %}
        </div>
        </div>

        <div class="card">
            <h5 class="card-header">Способ оплаты</h5>
        <div class="card-body">
			{% comment %} <h5 class="card-title">Special title treatment</h5> {% endcomment %}
			<p class="card-text">Оплата при доставке.</p>
			{% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
        </div>
        </div>

		<div class="card">
            <h5 class="card-header">Обзор продуктов</h5>
        <div class="card-body">
			<table class="table table-borderless table-shopping-cart">
	<thead class="text-muted">
	<tr class="small text-uppercase">
	<th scope="col">ТОВАР</th>
	<th scope="col" width="120">К-ВО</th>
	<th scope="col" width="120">ЦЕНА</th>
	</tr>
	</thead>
	<tbody>

	{% for cart_item in cart_items %}
		<tr>
			<td>
				<figure class="itemside align-items-center">
					<div class="aside"><img src="{{ cart_item.product.images.url  }}" class="img-sm"></div>
					<figcaption class="info">
						<a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
						<p class="text-muted small">
							{% if cart_item.variations.all %}
								{% for item in cart_item.variations.all %}
									{{ item.variation_category | capfirst}} : {{ item.variation_value | capfirst}}<br>
								{% endfor %}
							{% endif %}
						</p>
					</figcaption>
				</figure>
			</td>
			<td> 
            <label style="margin-top:25px;" for="">{{cart_item.quantity}}</label>
			</td>
			<td> 
				<div style="margin-top:25px;" class="price-wrap"> 
					<var class="price"> {{cart_item.sub_total }} сом</var> 
					<small class="text-muted">  {{cart_item.product.price}} сом/шт </small> 
				</div> <!-- price-wrap .// -->
			</td>
		</tr>
	{% endfor %}

	</tbody>
	</table>
            
        </div>
        </div>
	</aside>

	<aside class='col-lg-4'>
        <div class="card">
        <div class="card-body">

					<dl class="dlist-align">
					  <dt>Стоимость товаров:</dt>
					  <dd class="text-right">{{ total }} сом</dd>
					</dl>
					<dl class="dlist-align">
					  <dt>Плата за доставку:</dt>
					  <dd class="text-right">{{ delivery_fee }} сом</dd>
					</dl>
					<dl class="dlist-align">
					  <dt>Общая сумма:</dt>
					  <dd class="text-right  text-dark b"><strong>{{ grand_total }} сом</strong></dd>
					</dl>
					<hr>
					<!--- <p class="text-center mb-4">
						<img src="{% static 'images/misc/payments.png' %}" height="26">
					</p> --->

					<button class="btn btn-primary btn-block" onclick="document.getElementById('cod').submit();">Оформить заказ</button>
					<form id="cod" action="{% url 'payments' %}">
						{% csrf_token %}
					</form>
			</div> <!-- card-body.// -->
		</div>  <!-- card .// -->
					


	
</div>	
</div> <!-- card.// -->

<div class='container'>
<div class="alert alert-success mt-3">
	<p class="icontext"><i class="icon text-success fa fa-truck"></i> Бесплатная доставка при заказе от 1000 сомов</p>
</div>
</div>

	</aside> <!-- col.// -->

</div>


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name bg padding-y">
<div class="container">
<h5>Политика оплаты и возврата</h5>
<p>
<h6>Уважаемый покупатель!</h6>

<p>Пожалуйста, внимательно прочитайте общие правила обмена/ возврата товаров и ухода за ними, а также подачи жалоб.</p>

<h6>Согласно Статье 24. "Права потребителя на обмен или возврат товара надлежащего качества":</h6>

<p style="font-style:italic;">«Потребитель имеет право на обмен или возврат товара надлежащего качества в течение 14 дней, не считая дня его покупки. Обмен или возврат непродовольственного товара надлежащего качества производится, если указанный товар не был в употреблении, сохранены его товарный вид, потребительские свойства, пломбы, фабричные ярлыки, а также при наличии товарного или кассового чека, выданного потребителю вместе с проданным указанным товаром».</p>

<p style="color:red;">Проданный товар на распродаже, возврату не подлежит. В случае если Вам не подошел размер, Вы может обменять на другой размер, либо на другую модель.</p>

<h6>Товары не подлежащие возврату и обмену:</h6>

<p>Возврату или обмену не подлежит товар надлежащего качества в соответствии с Постановлением Правительства Кыргызской Республики от 27 августа 1996 г. №405:</p>

<p>- Швейные и трикотажные изделия (изделия швейные и трикотажные бельевые, изделия чулочно-носочные, купальники и плавки);</p>
<p>- Изделия и материалы, контактирующие с пищевыми продуктами, из полимерных материалов, в том числе для разового использования;</p>
<p>- Парфюмерно-кометические товарыж антисептик</p>
<p>- Технически сложные товары бытового назначения, на которые установлены гарантийные сроки (в т.ч. часы).</p>

<h6>Возврат денежных средств</h6>

<p>Срок возврата денежных средств зависит от выбранного Вами способа оплаты. Обычно данная процедура занимает от 3 до 5 рабочих дней после получения и проверки возвращенного товара.</p>

<h6>Возврат денежных средств при предоплате заказа</h6>

<p>Денежные средства будут возвращены на банковскую карту или тот электронный кошелек, которым был оплачен данный заказ.</p>
<p style='color:red;'>Обязательно храните кассовый чек или копию другого документа, а также карту клиента, подтверждающие Вашу покупку.</p>
<p>Крайний срок рассмотрения жалоб составляет 14 дней с даты подачи жалобы.</p>
</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->


<script>

	function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

	var amount = "{{ grand_total }}"
	var url = "{% url 'payments' %}"
	var csrftoken = getCookie('csrftoken');
	var orderID = "{{order.order_number}}"
	var payment_method = 'CASH ON DELIVERY'
	var redirect_url = "{% url 'order_complete' %}"



		function myFunction(){
			return actions.order.capture().then(function(details) {

				console.log(details);
				sendData();
				function sendData(){
					fetch(url, {
						method : "POST",
						headers: {
							"Content-type": "application/json",
							"X-CSRFToken": csrftoken,
						},
						body: JSON.stringify({
							orderID: orderID,
							payment_method: payment_method,
							status: details.status,
						}),
					})
				  .then((response) => response.json())
				  .then((data) => {
						window.location.href = redirect_url + '?order_number='+data.order_number;
					});
				}
			});
		}


	})
</script>
{% endblock content %}