{% extends "base.html" %}
{% load static %}

{% block content %}
<div style="margin-top:50px;" class='container'>
    <div class='rule'>
        <h1>Политика Конфиденциальности</h1><hr>
        <div class='container'>
            <p style='font-size:20px;'>
                При покупке товара на сайте <a href="#">https://skido.kg/</a> клиент предоставляет следующую информацию: Фамилия, Имя, адрес доставки, адрес электронной почты, номер телефона.<br><br>
                Предоставляя свои персональные данные на сайте, Клиент соглашается на их обработку Продавцом, в том числе и в целях продвижения продавцом товаров и услуг.<br>
                Клиент обязан знать, что вся информация, предоставленная для осуществления данной услуги не будет распространяться посторонним лицам либо сайтам. Исключение может составлять предоставление данной информации по запросу компетентных органов республики Кыргызстан или по запросу суда. Продавец несет ответственность за неразглашение конфиденциальной информации. Клиент обязан предоставлять достоверную информацию. В случае если клиент предоставляет недостоверную информацию, продавец не несет ответственности за предоставленную информацию и за наступившие последствия.
                <br><br><h4>Меры безопасности</h4><br>
                <p style='font-size:20px;'>Мы применяем коммерческие меры безопасности для предотвращения несанкционированного доступа, поддержания точности данных и обеспечения правильного использования информации сайта. Передача данных по интернету или беспроводной сети не может быть абсолютно защищена. Поэтому, так же как и другие компании, мы не можем гарантировать безопасность информации, которую Вы предоставляете нам, тем самым вы делаете это на свой страх и риск.</p>
                <br><br><h4>Несовершеннолетние пользователи</h4><br>
                <p style='font-size:20px;'>В соответствии с действующим законодательством, использование сайта и его содержимого предназначено для совершеннолетних покупателей, и мы не намерены продавать товары несовершеннолетним. Тем не менее, мы не можем знать возраст лиц, которые посещают наш сайт, и поэтому придерживаемся одинаковой политики конфиденциальности для людей всех возрастов.</p>       
            </p>
            <br><br><br>
        </div>
    </div>
</div>
{% endblock content %}